# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.output/
.nuxt/
dist/

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
